vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Sep 2006 07:37:50 -0000
vti_extenderversion:SR|5.0.2.2623
vti_backlinkinfo:VX|Saturday\\ Series\\ 2008/Saturday\\ Series\\ 2008\\ main\\ page.htm Events/2009\\ Jun\\ 19\\ Beddington\\ Park\\ Sutton\\ Schools/2009\\ Jun\\ 19\\ Beddington\\ Park\\ Sutton\\ Schools\\ main\\ page.htm Saturday\\ Series\\ 2006/Saturday\\ Series\\ 2006\\ main\\ page.htm Saturday\\ Series\\ 2009/Saturday\\ Series\\ 2009\\ main\\ page.htm CATO\\ 2009/6\\ June\\ 2009\\ Cat-O\\ Beddington\\ Park\\ main\\ page.htm Events/2009\\ Jun\\ 06\\ Beddington\\ Park\\ CAT-O/2009\\ Jun\\ 06\\ Beddington\\ Park\\ CATO\\ main\\ page.htm Saturday\\ Series\\ 2007/Saturday\\ Series\\ 2007\\ main\\ page.htm
vti_author:SR|SANDRA\\S Vogel
vti_modifiedby:SR|SANDRA\\S Vogel
vti_timecreated:TR|09 Sep 2006 07:37:50 -0000
vti_cacheddtm:TX|09 Sep 2006 07:37:50 -0000
vti_filesize:IR|70
vti_lineageid:SR|{024403D9-9F3F-47C3-A21B-54A6906F3237}
