vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Feb 2004 08:11:48 -0000
vti_extenderversion:SR|5.0.2.2623
vti_thicketsupportingfile:BW|true
vti_backlinkinfo:VX|Misc\\ results/Club\\ Handicap\\ results\\ 2004_files/sheet006.htm Misc\\ results/Club\\ Handicap\\ results\\ 2004_files/sheet004.htm Misc\\ results/Club\\ Handicap\\ results\\ 2004_files/sheet005.htm Misc\\ results/Club\\ Handicap\\ results\\ 2004.htm Misc\\ results/Club\\ Handicap\\ results\\ 2004_files/sheet002.htm Misc\\ results/Club\\ Handicap\\ results\\ 2004_files/sheet003.htm Misc\\ results/Club\\ Handicap\\ results\\ 2004_files/sheet001.htm
vti_author:SR|SANDRA\\SKV
vti_modifiedby:SR|SANDRA\\S Vogel
vti_timecreated:TR|24 Feb 2004 07:11:46 -0000
vti_lineageid:SR|{318686D6-C1EB-44DF-B3BC-A08977290790}
vti_cacheddtm:TX|24 Feb 2004 08:11:48 -0000
vti_filesize:IR|5209
